<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gongbo.fss.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".route.service.RouteTestService"
            android:enabled="true"
            android:exported="true"></service>
        <activity android:name="com.gongbo.fss.demo.adapter.listview.BaseSimpleAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.listview.BaseBindSimpleAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.listview.BaseBindingSimpleAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.listview.BaseBindingSimpleSingleAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.listview.CommonAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.recyclerview.BaseRecyclerViewAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.recyclerview.BaseBindRecyclerViewAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.recyclerview.BaseBindingRecyclerViewAdapterTestActivity" />
        <activity android:name="com.gongbo.fss.demo.adapter.recyclerview.CommonRecyclerAdapterViewTestActivity" />
        <activity android:name="com.gongbo.fss.demo.runpriority.RunPriorityTestActivity" />
        <activity android:name="com.gongbo.fss.demo.bind.BindDetailActivity" />
        <activity android:name="com.gongbo.fss.demo.bind.BindTestActivity" />
        <activity android:name=".route.RouteMainActivity" />
        <activity android:name=".route.RouteDetailActivity" />
    </application>

</manifest>